{% extends 'seller-header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Shop</title>
</head>
<body>
	<div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div>
	<div class="homepage-slider">
  <!-- single home slider -->
  <div class="single-homepage-slider homepage-bg-1">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-7 offset-lg-1 offset-xl-0">
          <div class="hero-text">
            <div class="hero-text-tablecell">
              <p class="subtitle">Fresh & Organic</p>
              <h1>Delicious Seasonal Fruits</h1>
              <div class="hero-btns">
                <a href="shop" class="boxed-btn">Fruit Collection</a>
                <a href="contact" class="bordered-btn">Contact Us</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- single home slider -->
  <div class="single-homepage-slider homepage-bg-2">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 offset-lg-1 text-center">
          <div class="hero-text">
            <div class="hero-text-tablecell">
              <p class="subtitle">Fresh Everyday</p>
              <h1>100% Organic Collection</h1>
              <div class="hero-btns">
                <a href="shop" class="boxed-btn">Visit Shop</a>
                <a href="contact" class="bordered-btn">Contact Us</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- single home slider -->
  <div class="single-homepage-slider homepage-bg-3">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 offset-lg-1 text-right">
          <div class="hero-text">
            <div class="hero-text-tablecell">
              <p class="subtitle">Mega Sale Going On!</p>
              <h1>Get December Discount</h1>
              <div class="hero-btns">
                <a href="shop" class="boxed-btn">Visit Shop</a>
                <a href="contact" class="bordered-btn">Contact Us</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- features list section -->
	<div class="list-section pt-80 pb-80">
		<div class="container">

			<div class="row">
				<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
					<div class="list-box d-flex align-items-center">
						<div class="list-icon">
							<i class="fas fa-shipping-fast"></i>
						</div>
						<div class="content">
							<h3>Free Shipping</h3>
							<p>When order over $75</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
					<div class="list-box d-flex align-items-center">
						<div class="list-icon">
							<i class="fas fa-phone-volume"></i>
						</div>
						<div class="content">
							<h3>24/7 Support</h3>
							<p>Get support all day</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="list-box d-flex justify-content-start align-items-center">
						<div class="list-icon">
							<i class="fas fa-sync"></i>
						</div>
						<div class="content">
							<h3>Refund</h3>
							<p>Get refund within 3 days!</p>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<!-- end features list section -->

	<!-- products -->
	
	<div class="product-section mt-150 mb-150">
		<div class="container">

			<div class="row">
                <div class="col-md-12">
                    <div class="product-filters">
                        <ul>
                        	<h3>Total Product({{products.count}})</h3><br>
                            <li class="active"><a href="{% url 'seller-view-product' %}" style="color: black;">All</a></li>
                            <li ><a href="{% url 'seller-view-vagetables' %}" style="color: black;"> Vagetables</a></li>
                            <li ><a href="{% url 'seller-view-fruits' %}" style="color: black;">Fruits</a></li>
                            <li ><a href="{% url 'seller-view-juice' %}" style="color: black;">Juice</a></li>
                            <li ><a href="{% url 'seller-view-dried' %}" style="color: black;">dried</a></li>
                        </ul>
                    </div>
                </div>
            </div>
			<div class="row product-lists">
				{% for i in products %}
				<div class="col-lg-4 col-md-6 text-center strawberry">
					<div class="single-product-item">
						<div class="product-image">
							<a href="single-product.html"><img src="{{i.product_image.url}}" alt="" width="250px" height="250px"></a>
						</div>
						<h3>{{i.product_category}}</h3>
						<p ><h6>{{i.product_desc}}</h6></p>
						<p class="product-price"><span>Per Kg</span>₹ {{i.product_price}}</p>
						<a href="{% url 'seller-product-detail' pk=i.pk %}" class="cart-btn"> Product Detail</a>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
	<!-- end products -->

</body>
</html>
{% endblock %}